@font-face {
    font-family: 'GurbaniWebThick';
    src: url('gurbaniwebthick.ttf');
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #f1f1f1;
    color: #363636;
}

#container {
    width: 700px;
    margin: 30px auto;
}

#container p {
    font-family: Arial;	
    line-height: 1.5em;
}

#question-wrap {
    min-height: 100px;
    font-family: 'GurbaniWebThick';
    text-align: center;
}

#question {
    margin-bottom: 30px;
}

#answer {
    margin: 5px;
    margin-bottom: 20px;
    visibility: hidden;
}

#header {
    width: 100%;
    color: white;
    text-align: center;
    
    background: #212121;
    background: -moz-linear-gradient(top, #373737, #212121);
    background: -webkit-linear-gradient(top, #373737, #212121);
    background: -ms-linear-gradient(top, #373737, #212121);
    background: -o-linear-gradient(top, #373737, #212121);
    background: linear-gradient(top, #373737, #212121);    
}

#header_inner {
    height: 150px;
    line-height: 150px;
    font-size: 42px;
    font-weight: 700;
    text-shadow: #111 0px 0px 10px;
    margin: 0 auto;
    font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

#selectable .ui-selecting {
    background:#FECA40;
}

#selectable .ui-selected {
    background:#F39814;
    color:#FFF;
}

#selectable {
    position:absolute;
    top:150px;
    bottom:0;
    list-style-type:none;
    float:left;
    background:#FFF;
    width:250px;
    border-right:1px solid grey;
    overflow-y:auto;
}

#selectable li {
    cursor: default;
    font-family:GurbaniWebThick;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow-x:hidden;
    padding:5px 15px;
}

.answer-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
    background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
    background-color:#f9f9f9;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#666666;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}
.answer-button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
    background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
    background-color:#e9e9e9;
    cursor: pointer;
}
.answer-button:active {
    position:relative;
    top:1px;
}

#footer {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    font-size: 12px;
    font-family: Arial;
    position: absolute;
    bottom: 0;
}